body {
    background: url('./dyp.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    display: block;
    width: 94%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-box .forgot {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

.resource-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.resource-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.resource-box:hover {
    transform: scale(1.07);
    transition: transform 0.3s;
}

.resource-box h3 {
    margin-bottom: 10px;
}

.resource-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.resource-box a {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.resource-box a:hover {
    background: #0056b3;
}

.social-media-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.social-media-box h3 {
    margin-bottom: 10px;
}

.social-media-box a {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.social-media-box a:hover {
    color: #0056b3;
}